
.logins{
     width: 300px;
    height: 350px;
    border-radius: 25px;
    background: linear-gradient(to right,#DE6262,#FFB88C);
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 10px;
}