h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
body{
    width: 450px;
    height: 200px;
    border-radius: 25px;
    background: linear-gradient(to right,#cc2b5e,#753a88);
    left: 40%;
    top: 30%;
    position:fixed;
    box-sizing: border-box;
    padding: 70px 10px
}
p{
    color: white;
}
